     <div>
        <p><img src="../static/imgs/heartRate.png" style="width: 30px; height: 30px;"> <span id="heart_rate"> -- </span> bpm
          &nbsp;&nbsp;
          <img src="../static/imgs/waterDrop.png" style="width: 30px; height: 30px;"> <span id="sudo_rate"> -- </span>
        </p>
      </div>&nbsp;&nbsp;
      <section style="float: right;">
        <p>
        <h4>
          🕒 <span id="date"> {% if video and video[3] %}
              {{ video[3] }}
        {% endif %}
        {% if not video or not video[3] %}
                -------
        {% endif %} </span>
        </h4>
        <br />
        <h4>
          📍 <span id="place"> {% if video and video[2] %}
              {{ video[2] }}
        {% endif %}
        {% if not video or not video[2] %}
                -------
        {% endif %} </span>
        </h4>

        </p>

      </section>
    </section>

    <aside class="mr-5" style="float: right; margin: 0 1.5%; width: 30%;">
      <h4>Annotations</h4>
      <table class="table d-sm-table-cell">
        <tbody>
          <tr class="table-light">
            <td><button id="happy" class="emoticons ann">🙂</button></td>
            <td><button id="sleepy" class="emoticons ann">😴</button></td>
            <td><button id="surprised" class="emoticons ann">😯</button></td>
          </tr>
          <tr class="table-light">
            <td><button id="sad" class="emoticons ann">😔</button></td>
            <td><button id="angry" class="emoticons ann">😠</button></td>
            <td><button id="thinking" class="emoticons ann">🤔</button></td>
          </tr>
        </tbody>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <div class="ribbon">
                  <input id="tag" type="text" class="mx-auto ann" placeholder="Type here..."
                    style="-webkit-text-fill-color:blanchedalmond;">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </table>
    </aside>
    <div>
    </div>
  