<div>
    <p><img src="../static/imgs/heartRate.png" style="width: 30px; height: 30px;"> <span id="heart_rate"> -- </span> bpm
        &nbsp;&nbsp;
        <img src="../static/imgs/waterDrop.png" style="width: 30px; height: 30px;"> <span id="sudo_rate"> -- </span>
    </p>
</div>&nbsp;&nbsp;
<section style="float: right;">
    <p>
    <h4>
        🕒 <span id="date"> {% if video and video[3] %}
              {{ video[3] }}
        {% endif %}
        {% if not video or not video[3] %}
                -------
        {% endif %} </span>
    </h4>
    <br/>
    <h4>
        🧭 <span id="place">
        {% if not page == 'on_rec' %}
        {% if video and video[2] %}
              {{ video[2] }}
        {% endif %}
        {% if not video or not video[2] %}
                -------
        {% endif %}
        {% endif %}
        {% if page == 'on_rec' %}
        <input type="text" name="loc" style="background: white">
        {% endif %}
    </span>
    </h4>

    </p>

</section>
</section>

<aside class="mr-5" style="float: right; margin: 0 1.5%; width: 30%;">
    <h4>Annotations</h4>
    <br/>
    &nbsp;
        <table class="table d-sm-table-cell">
<tbody>
        <tr class="table-light">
            <td>
                <button title="Happy"><span role="button" id="happy" class="emoticons ann" onclick="toggleButton(this)"
                              aria-pressed="false">🙂</span></button>
            </td>
            <td>
                <button title="Sad"><span role="button" id="sad" class="emoticons ann" onclick="toggleButton(this)"
                              aria-pressed="false">😔</span></button>
            </td>
            <td>
                <button title="Surprised"><span role="button" id="surprised" class="emoticons ann" onclick="toggleButton(this)"
                              aria-pressed="false">😯</span></button>
            </td>
        </tr>
        <tr class="table-light col-3">
            <td>
                <button title="Afraid"><span role="button" id="afraid" class="emoticons ann" onclick="toggleButton(this)"
                              aria-pressed="false">😨</span></button>
            </td>
            <td>
                <button title="Angry"><span role="button" id="angry" class="emoticons ann" onclick="toggleButton(this)"
                              aria-pressed="false">😡</span></button>
            </td>
            <td>
                <button title="Disgusted"><span role="button" id="disgusted" class="emoticons ann" onclick="toggleButton(this)"
                              aria-pressed="false">🤢</span></button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table d-sm-table-cell">
        <tbody>
        <tr class="table-light">
            <td>
                <button id="deepface_generate" class="btn btn-default" title="Auto identify emotions"><span role="button" onclick="callDeepface()"
                              aria-pressed="false">Auto identify emotions</span></button>
            </td>
            <td>
                <img id="loaderImg" src="../static/imgs/loading.gif" style="display: none; width: 8vh;" alt="In progress">
            </td>
        </tr>
        </tbody>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <div class="ribbon">
                        <input id="custom" type="text" class="mx-auto ann" placeholder="Type here..."
                               title="Type here your custom annotation, then press enter"
                               style="-webkit-text-fill-color:blanchedalmond; background-color: royalblue; border: none;">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </table>

    <div class="box col-12" style="overflow: auto;
    height: 45vh;">
        <p class="text-danger" id="err_log"></p>
        <table>
            <ul id="annotations_list" class="list-group" style="list-style-type: none;">

            </ul>
        </table>
    </div>
    &nbsp;&nbsp;
    <div>
        <button id="saveChanges" class="btn btn-light" onclick="saveChanges()" disabled>Save changes</button>
    </div>
</aside>
<div>
</div>
<script>

    let socket;
    let newID = 0;

    $(document).ready(function () {

        // sending a connect request to the server.
        socket = io();

        socket.emit('ask for json');

        socket.on('connect', function () {
            socket.emit('my event', {data: "I'm connected"});
            socket.emit('ask for id');
        });

        socket.on('newID', function (data) {
            newID = data.id;
            console.log(newID);
        });

        socket.on('saved', function () {
            document.getElementById("saveChanges").disabled = true;
            document.getElementById("err_log").innerHTML = "";
        });

        socket.on('deepface_complete', function () {
            document.getElementById("loaderImg").src = "../static/imgs/done.gif"
            saveChanges();
            window.location.hash = 'r';
            setTimeout(function () {
                if(window.location.hash === '#r') {
                    window.location.hash = '';
                    window.location.reload(1);
                }
            }, 3000);  // After 3 secs
        });
    });

    function toggleButton(element) {
        let emotionButtons = document.querySelectorAll(".emoticons");
        // Check to see if the button is pressed
        let pressed = (element.getAttribute("aria-pressed") === "true");
        console.log(pressed);
        if (pressed) {
            console.log("unselected " + element.id);
            element.parentElement.style.background = "";
            if (counter < emotionTimer) {
                let temp = counter;
                counter = emotionTimer;
                emotionTimer = temp;
            }
            socket.emit('emotionButton', {
                type: $(element).attr('id'),
                frameID: emotionTimer,
                duration: counter - emotionTimer
            });
            console.log(newID);
            addAnnotationToList([element.id, {'id': newID}, emotionTimer, counter], true);
        } else {
            for (let i = 0; i < emotionButtons.length; i++) {
                if (emotionButtons.item(i) !== element)
                    console.log("unpressed " + emotionButtons.item(i).id);
                if(emotionButtons.item(i).getAttribute("aria-pressed") === "true") {
                    emotionButtons.item(i).parentElement.style.background = "";
                    emotionButtons.item(i).setAttribute("aria-pressed", "false");
                }
            }
            emotionTimer = vid.currentTime;
            element.parentElement.style.background = "greenyellow";

        }
        // Change aria-pressed of the selected button to the opposite state
        element.setAttribute("aria-pressed", !pressed + "");
        console.log("clicked " + element.id);
    }

    let background_color_emotions = "lightgoldenrodyellow";
    let background_color_others = "powderblue";
    let ids_time = {};

    function addAnnotationToList(annotation, newAnnot) {
        let background;
        socket.emit("ask for id");
        if(annotation[0] === "happy" || annotation[0] === "sad" || annotation[0] === "surprised" || annotation[0] === "afraid" || annotation[0] === "angry" || annotation[0] === "disgusted"){
            background = background_color_emotions;
        }
        else{
            background = background_color_others
        }
        let defaultTime = 5;
        let duration;
        if (annotation[3] === null)
            duration = parseFloat(annotation[2]) + defaultTime;
        else
            duration = parseFloat(annotation[2]) + parseFloat(annotation[3]);

        ids_time[annotation[1]['id']] = [parseFloat(annotation[2]), duration];

        duration = duration / 100;
        annotation[2] = annotation[2] / 100;

        let button_edit = "<button title='Edit Annotation' onclick='editAnnot(this)' id=\"" + "edit_" + annotation[1]['id'] + "\" class=\"edit_ann\">✎</button>";
        let button_del = "<button title='Remove Annotation' onclick='deleteAnnot(this)' id=\"" + "del_" + annotation[1]['id'] + "\" class=\"delete_ann\">x</button>";
        let annot_html = '<input style="background: ' + background + '; color: #222222" type="text" disabled value="' + annotation[0] + '"><span style="float: right"><small><input disabled value="' + annotation[2].toFixed(2).toString().replace('.', ':') + '" style="background: ' + background + '; color: #222222">' + ' &rbarr; ' + '<input disabled value="' + duration.toFixed(2).toString().replace('.', ':') + '" style="background: ' + background + '; color: #222222"></small>'
        $('#annotations_list').prepend('<li class="list-group-item" style="background: ' + background + ';" id="ann_' + annotation[1]['id'] + '">' + annot_html + button_edit + button_del + '</span></li>');
        if (newAnnot)
            unsavedChanges();

    }

    function editAnnot(btn) {
        if (btn.parentNode.parentNode.childNodes.item(0).disabled) {
            btn.parentNode.parentNode.childNodes.item(0).disabled = false;
            btn.parentNode.childNodes.item(0).childNodes.item(0).disabled = false;
            btn.parentNode.childNodes.item(0).childNodes.item(2).disabled = false;
            btn.innerHTML = "Save &check;"
            return;
        }
        console.log("edited ")
        socket.emit('editAnnotation', {
            idAnnotation: btn.getAttribute('id').split("_")[1],
            newValue: btn.parentNode.parentNode.childNodes.item(0).value,
            newInitFrame: btn.parentNode.childNodes.item(0).childNodes.item(0).value.replace(':', '.') * 100,
            newDuration: btn.parentNode.childNodes.item(0).childNodes.item(2).value.replace(':', '.') * 100
        });
        btn.parentNode.parentNode.childNodes.item(0).disabled = true;
        btn.parentNode.childNodes.item(0).childNodes.item(0).disabled = true;
        btn.parentNode.childNodes.item(0).childNodes.item(2).disabled = true;
        btn.innerHTML = "✎";
        unsavedChanges();
    }

    function deleteAnnot(btn) {
        console.log("deleting " + btn.getAttribute('id'));
        socket.emit('deleteAnnotation', {
            idAnnotation: btn.getAttribute('id').split("_")[1]
        });
        document.getElementById("annotations_list").removeChild(btn.parentNode.parentNode)
        unsavedChanges();
    }

    function saveChanges() {
        socket.emit('saveChanges');
        noChanges = true;
    }

    function unsavedChanges(){
        noChanges = false;
        document.getElementById("err_log").innerHTML = "You have unsaved annotations, please save changes before leaving.";
        document.getElementById("saveChanges").disabled = false;
    }

    function callDeepface() {
        if(noChanges) {
            document.getElementById("loaderImg").style.display = "inline";
            socket.emit("deepface_start");
            document.getElementById("deepface_generate").disabled = true;

        }
        else {
            alert("Please save your changes before auto analysing emotions");
        }
    }

</script>
