<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/style.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="icon" href="../static/imgs/eyeLogo.png">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="../static/imgs/eyeLogo.png" width="60dp" height="60dp" class="d-inline-block align-top" alt="">
    <p>Video Annotation
    </p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto mx-auto">

        {% if page != 'myvideos' %}

        <li class="nav-item">
          <a class="nav-link mx-3" href="{{ url_for('myvideos') }}">My Videos</a>
        </li>

        {% endif %}

        {% if page == 'myvideos' %}

        <li class="nav-item active">
          <a class="nav-link mx-3" href="#">My Videos</a>
        </li>

        {% endif %}

        {% if page != 'importvideo' %}

        <li class="nav-item">
          <a class="nav-link mx-3" href="{{ url_for('import_video') }}">Import Video</a>
        </li>

        {% endif %}

        {% if page == 'importvideo' %}

        <li class="nav-item active">
          <a class="nav-link mx-3" href="#">Import Video</a>
        </li>

        {% endif %}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form action="{{ url_for('home') }}" class="form-inline my-2 my-lg-0">

          {% if page != 'on_rec' %}

          <button class="btn btn-success my-2 my-sm-0">
            <span class="glyphicon glyphicon-plus icon-size-plus"></span>
          </button>

          {% endif %}

        </form>
        &nbsp;&nbsp;
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> 
            <strong id="username">{{ name[0] }}</strong>
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="navbar-login">
                <div class="row">
                  <div class="col-lg-4">
                    <p class="text-center">
                      <span class="glyphicon glyphicon-user icon-size"></span>
                    </p>
                  </div>
                  <div class="col-lg-8">
                    <p class="text-left" id="name"><strong>{{ name[0] }}</strong></p>
                    <p class="text-left small" id="email">{{ name[1] }}</p>
                    <p class="text-left">
                      <a href="{{ url_for('update_profile') }}" class="btn btn-primary btn-block btn-sm">Update Data</a>
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="navbar-login navbar-login-session">
                <div class="row">
                  <div class="col-lg-12">
                    <p>
                      <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block">Logout</a>
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <br>
  <br>

    {% block body %}{% endblock %}
</body>
</html>