{% extends 'base.html' %}


{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
<title>My Videos - Import Video</title>

{% endblock %}


{% block body %}

<br/>

<section class="col-9 mx-auto">
    <div class="form-title">
    <h3>Upload your video here</h3>
        </div>
    <br/>
    <div class="m-3">
    <form enctype="multipart/form-data" method="post" id="uploadVideo" class="form">

        <div class="field">
            <label>Title</label>
            <input class="move_input" type="text" name="title" id="title">
        </div>
        <div class="field">
            <label>Latitude</label>
            <input class="move_input" type="text" name="latitude" id="latitude">
        </div>
        <div class="field">
            <label>Longitude</label>
            <input class="move_input" type="text" name="longitude" id="longitude">
        </div>
        <br/>
        <div class="form-group">
        <input id="uploadFile" class="btn btn-default" name="upFile" type="file" accept="video/mp4,video/x-m4v,video/*,video/quicktime">
        </div>
        {% if browser != 'safari' and browser != 'firefox' %}
        <div>
        <label for="datetime" style="display: inline">Recording date and time</label>
        <input type="datetime-local" id="datetime" name="dateTimeRec" style="display: inline">
            </div>
        {% else %}
        <table class="col-md-9">
            <th><label for="date" style="display: inline">Recording date</label></th>
        <th><input type="date" id="date" name="dateRec"></th>
            </table>
                <br/>

        <table class="col-md-9">
            <th><label for="time" style="display: inline">Recording time</label></th>
            <th><input type="time" id="time" name="timeRec" style="display: inline"></th>
            </table>
        <br/>
        <br/>
        {% endif %}
        <br/>
        <div>
            <span><input type="submit" class="btn btn-primary"><img id="loaderImg" src="../static/imgs/loading.gif" style="display: none; width: 15%;" alt="Loading animation"></span>
        </div>
        <div id="progressBar" class="progress" style="display: none;" >
            <div class="progress-bar progress-striped bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="thumbImg" style="display: none;"></div>
    </form>
        </div>
</section>
<script>
    $('.move_input').on('focus', function() {
        $(this).prev('label').addClass('moveUp');
    })

    $('.move_input').on('focusout', function() {
        if(!$(this).val()) $(this).prev('label').removeClass('moveUp');
    })

    if ("geolocation" in navigator) {
      /* geolocation is available */
        navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
            $(document.getElementById("latitude")).prev('label').addClass('moveUp');
            $(document.getElementById("longitude")).prev('label').addClass('moveUp');
        });
    } else {
      alert("I'm sorry, but geolocation services are not supported by your browser.");
    }

    $(document).ready(function (){
       $('#uploadVideo').submit(function (event) {
           if($('#uploadFile').val()){
               event.preventDefault();
               console.log("submitting");
               $('#loaderImg').show();
               $('#progressBar').show();
               $('#thumbImg').hide();
               $(this).ajaxSubmit({
                   target: '#thumbImg',
                   beforeSubmit: function () {
                       $('.progressBar').width('50%');
                   },
                   uploadProgress: function (event, position, total, percentageComplete) {
                       $('.progress-bar').animate({
                           width: percentageComplete + '%'
                       }, {
                           duration: 1000
                       });
                   },
                   success: function (data) {
                       $('#loaderImg').hide();
                       $('#thumbImg').append("<p>" + data.msg + "</p>" + "<a href='" + data.linkVideo + "'><img style='width: 50vw' src='" + data.filenameimage + "' alt='Thumbnail'/></a>");
                       $('#thumbImg').show();
                       $('.progress-bar').removeClass('bg-info');
                       $('.progress-bar').addClass('bg-success');
                   },
                   error: function (){
                       $('#loaderimg').hide();
                       $('.progress-bar').removeClass('bg-info');
                       $('.progress-bar').addClass('bg-danger');
                   },
                   resetForm: true
               });
           }
           return false;
       })
    });
</script>
{% endblock %}
