{% extends 'base.html' %}

{% block head %}
<title>Video - Video Annotation</title>
{% endblock %}


{% block body %}
  <!-- 16:9 aspect ratio
<div class="embed-responsive embed-responsive-16by9">
  //<iframe class="embed-responsive-item"></iframe>iframe
  <video>

  </video>
</div> -->

  <section>
    <section style="float: left; margin: 0 1.5%; width: 63%;">
      <h3 id="vid_title"><input type="text" placeholder="Video Title" style="background-color: white; border: none;"></h3>
      <form method="post">
        <span><button class="rec-button Rec"></button>
        <button class="btn-danger" href="{{ url_for('stop_recording') }}">Stop & save recording</button></span>
      </form>
      <br/>
      <video class="col-12">

      </video>
      <div>
        <p><img alt="Heart Rate" src="../static/imgs/heartRate.png" style="width: 30px; height: 30px;"> <span id="heart_rate"> -- </span> bpm
          &nbsp;&nbsp;
          <img src="../static/imgs/waterDrop.png" style="width: 30px; height: 30px;"> <span id="sudo_rate"> -- </span>
        </p>
      </div>&nbsp;&nbsp;
      <section style="float: right;">
        <p>
        <h4>
          🕒 <span id="date"> ------- </span>
        </h4>
        <br />
        <h4>
          📍 <span id="place"> ------- </span>
        </h4>

        </p>

      </section>
    </section>

    <aside class="mr-5" style="float: right; margin: 0 1.5%; width: 30%;">
      <h3>Annotations</h3>
      <table class="table d-sm-table-cell">
        <tbody>
          <tr class="table-light">
            <td><button id="happy" class="emoticons">🙂</button></td>
            <td><button id="sleepy" class="emoticons">😴</button></td>
            <td><button id="surprised" class="emoticons">😯</button></td>
          </tr>
          <tr class="table-light">
            <td><button id="sad" class="emoticons">😔</button></td>
            <td><button id="angry" class="emoticons">😠</button></td>
            <td><button id="thinking" class="emoticons">🤔</button></td>
          </tr>
        </tbody>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <div class="ribbon">
                  <input id="tag" type="text" class="mx-auto" placeholder="Type here..."
                    style="-webkit-text-fill-color:blanchedalmond;">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </table>
    </aside>
    <div>
    </div>
  </section>
{% endblock %}
