{% extends 'base.html' %}

{% block head %}

<link rel="icon" href="../static/imgs/eyeLogo.png">
<title>Video - Recording</title>

{% endblock %}


{% block body %}
  <!-- 16:9 aspect ratio
<div class="embed-responsive embed-responsive-16by9">
  //<iframe class="embed-responsive-item"></iframe>iframe
  <video>

  </video>
</div> -->

  <section>
    <section style="float: left; margin: 0 1.5%; width: 63%;">
      <h3 id="vid_title"><input type="text" placeholder="Video Title" style="background-color: white; border: none;"></h3>
      <form method="post">
        <span><button class="rec-button Rec"></button>
        <button class="btn-danger">Stop & save recording</button></span>
      </form>
      <br/>
      <video class="col-12">

      </video>
      {% include 'annotations.html' %}
  </section>
  </section>

{% endblock %}