{% extends 'base.html' %}

{% block head %}

<title>Video - Recording</title>
  <script type="text/javascript">
         $(document).ready(function() {

           // sending a connect request to the server.
           var socket = io();
           socket.on('connect', function (){
             socket.emit('my event', {data:"I'm connected"});
           });

           // An event handler for a change of value
           $('button.emoticons').on('click', function (event) {
             socket.emit('emotionButton', {
               type: $(this).attr('id'),
             });
             return false;
           });

           // An event handler for a change of value
           $('input.ann').on('keydown', function (event) {
              if (event.key === 'Enter') {
                socket.emit('customInput', {
                  type: $(this).attr('id'),
                  data: $(this).val()
             });}
           });

           // An event handler for a change of value
           $('button.stop').on('click', function (event) {
             socket.emit('stop_recording', {
               title: $('input#vid_title').val()
             });
           });

         });
      </script>
{% endblock %}


{% block body %}
  <!-- 16:9 aspect ratio
<div class="embed-responsive embed-responsive-16by9">
  //<iframe class="embed-responsive-item"></iframe>iframe
  <video>

  </video>
</div> -->

  <section>
    <section id="video_controls" style="float: left; margin: 0 1.5%; width: 63%;">
      <h3><input type="text" name="vid_title" placeholder="Video Title" style="background-color: white; border: none;"></h3>
      <span>
          <button id="rec" class="notRec rec-button" disabled></button>
          <button id="changeRec" class="btn-outline-danger" type="submit" onclick="startRecording()">Start Recording</button>
        </span>
      <br/>
      <div class="col-9">
        <img src="{{ url_for('video') }}" width="100%">
      </div>
      {% include 'annotations.html' %}
  </section>
  </section>
<script type="text/javascript">
  function startRecording() {
    if(document.getElementById("changeRec").innerHTML === "Stop &amp; save recording"){
      let form = document.createElement("form");
      form.setAttribute("method", "post");
      let container = document.getElementById("video_controls");
      let elements = [container.childElementCount];
      let j = 0;
      while(container.hasChildNodes()){
        elements[j] = (container.removeChild(container.lastChild));
        j++;
      }
      for (let i = 0; i<elements.length; i++){
        form.appendChild(elements[i]);
        console.log(elements[i]);
      }
      document.getElementById("video_controls").appendChild(form);
      return;
    }

    let rec_light = document.getElementById("rec");
    rec_light.classList.toggle("Rec");
    let rec_button = document.getElementById("changeRec");
    rec_button.classList.toggle("btn-danger");
    document.getElementById("changeRec").innerHTML = "Stop & save recording";
  }
</script>

{% endblock %}